body {
    background-color: #202020;
    font-family: "Lucida Console", Monaco, monospace;
    text-align: left;
    width:100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position:fixed;
}

#header {
    width: 100%;
    padding: 1em;
    background: rgba(16, 16, 16, 255);
}

#cont {
    filter: blur(12px);
    background-color: rgba(164, 164, 164, 255);
    width: 100%;
    height:100%;
}

h1 {
    font-size: 2em;
    margin: 2%;
    color: #909090;
}

p { 
    margin: 2%;
    color: #909090;  
}